
body {
  background-color: #111;
  margin: 0;
}

#container {
  position: relative;
  font-size: 0; /* quick fix to remove inline-block whitespace */
}

.row div {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.brick {
  background-color: blue;
}

.coin {
  background-image: url('images/coin3.png');
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: cover;*/
}

.big-coin {
  background-image: url('images/coin3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.empty {
  background-color: #000;
}

.gate {
  background-color: #fff;
}

#pacman {
  background-image: url('images/pacman.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 20px;
  height: 20px;

  position: absolute;
  top: 0;
  left: 0;
}

#meta {
  vertical-align: top;
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  width: 200px;
  height: 300px;
  margin: 10px 0 0 20px;
  text-align: center;
}

#score {
  display: block;
  padding: 20px 0;
  margin-bottom: 20px;
}

#time {
  display: block;
  padding: 20px 0;
  font-size: 32px;
  /*margin-top: 5px;*/
  /*border: 1px solid #fff;*/
}

#world, #meta {
  display: inline-block;
}

.game-score {
  display: block;
  font-size: 32px;
}


.ghost {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 20px;
  height: 20px;

  position: absolute;
  top: 0;
  left: 0;
}
.ghost-0 {
  background-image: url('images/ghost0.gif');
}
.ghost-1 {
 background-image: url('images/ghost1.gif');
}
.ghost-2 {
  background-image: url('images/ghost2.gif');
}
.ghost-3 {
  background-image: url('images/ghost3.gif');
}
