
body {
  background-color: #111;
  margin: 0;
}

#container {
  position: relative;
  font-size: 0; /* quick fix to remove inline-block whitespace */
}

.row div {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.brick {
  background-color: blue;
}

.coin {
  background-image: url('coin.gif');
  background-repeat: no-repeat;
  background-position: center;
}

.empty {
  background-color: #000;
}

#pacman {
  background-image: url('pacman.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 20px;
  height: 20px;

  position: absolute;
  top: 0;
  left: 0;
}
